body{
    background-color: rgb(191, 99, 219);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 500px;
    font-size: 300%;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
span{
    margin-left: 1200px;
    
}